KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC=transactions
KAFKA_GROUP_ID=fraud-consumer-group

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=fraud_db
MYSQL_USER=fraud_user
MYSQL_PASSWORD=fraud_pass

MODEL_PATH=artifacts/fraud_model.pkl
PREPROCESSOR_PATH=artifacts/preprocessor.pkl
STREAM_CSV_PATH=artifacts/stream_transactions.csv
